body{
	margin:0px;
}
h4{
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	margin:0px 10px 0px;
	padding:0px;
	color : white;
	flex-wrap:wrap;
}
.list{
	background-color: rgba(102, 153, 51, 0.8);
	border-radius: 5px;	
}
strong{
	margin-left: auto;
	color:white;
}
.cover{
	padding:0px;
	margin:0px 0px;
	text-align: center;
	background-color: rgba(200, 0, 200, 1.5);
	height:300px;
	width: 100%;
}
.zone{
	background-color: rgba(95, 172, 141, 1);
	cursor:pointer;
	justify-content: center;	
	display: flex;
	flex-wrap: wrap;
	transition: all 1.1s linear;
}
img{
	height:100px;
	width:100px;
	border:5px solid black;
	padding :20px;
    margin:5px;
    background-color: rgb(103, 120, 170);	
}
.zone img{
	border:5px solid black;
	padding :40px;
    margin:15px;
    background-color: silver;

}
.zone img:hover{
	-webkit-box-shadow: rgba(47, 64, 115, 0.3) 0px 5px 15px, inset rgba(47, 64, 115, 0.3) 0px 5px 15px ;
	 -moz-box-shadow: rgba(47, 64, 115, 0.3) 0px 5px 15px inset rgba(47, 64, 115, 0.3) 0px 5px 15px;
	  box-shadow: rgba(47, 64, 115, 0.3) 0px 5px 15px inset rgba(47, 64, 115, 0.3) 0px 5px 15px;
	transform:scale(1.1);
}
